
.border{
    border: solid black;
    margin: auto;
}
.w{
    width: 80px;
    height: 80px;
    background-color: white;
    
}
.b{

    width: 80px;
    height: 80px;
    background-color: black;
}
    
.clicked{
    background-color: blue;
}


