body{
    direction: rtl;
    font-family: Arial, Helvetica, sans-serif;
}

.hd {
    width: 80px;
    height: 79px;
  }
  .hd2 {
    width: 200px;
    height: 200px;
  }
  .back{
    width: 200px;
    height: 260px;
    background: rgb(230, 227, 227);
  }
  .m
  {
    width: 200px;
    height: 200px;
    position: relative;
    position: absolute;
    left: 40px;
    top: 30px;
    margin: 0 auto;
  }
  
 .box{
     width: 200px;
    height: 200px;
    
 }
 .infobox {
    float: left;
    clear: left;
    border: 1px solid #aaaaaa;
    background-color: #f9f9f9;
    color: black;
    margin-bottom: 0.5em;
    margin-right: 1em;
    padding: 0.2em;
    font-size: 0.9em;
    line-height: 1.4em;
 }