table {
  margin: 20px;
}

.light-cell {
  background: wheat;
  width: 45px;
  height: 45px;
}

.dark-cell {
  background: grey;
  width: 45px;
  height: 45px;
}

.selected {
  border: solid yellow;
    
}

.possible-move {
  background: rgb(221, 142, 46);
}