
.border{
    border: solid black;
    margin: auto;
}
.w{
    width: 80px;
    height: 80px;
    background-color: wheat;
    
}
.b{

    width: 80px;
    height: 80px;
    background-color: grey;
}
    
.clicked{
    background-color: blue;
}
.click{
    border: solid yellow;
    
}
img{
    width: 83px;
    height: 83px; 
}



